<center><h2><%=@user.name%>'s Dashboard</h2></center>

<center><section id="discover_movies">
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</section></center>

<center><h3>It's Party Time!</h3></center>
<hr>
<center><h4>Viewing Parties</h4></center>
<% @user.parties.each do |party| %>
<section id="party_time_<%=party.id%>">
  <h4>Movie: <%=party.movie_id%> </h4>
  <p>Runtime: <%=party.length%></p>
  <p>Date: <%=party.date%> </p>
  <p>Start time: <%=party.start_time%> </p>
</section>
<%end%>
